.card {
    display: flex;
    flex-direction: line;
    border: 1px solid black;
    margin: 10px;
    width: 700px;
}

.picture img {
    width: 110px;
    padding: 10px;
}

.dados {
    padding-left: 20px;
    line-height: 5px;
}

